.cart{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.cart-component {
    display: flex;
    height: auto;
    width: 200px;
    background-color: teal;
    justify-content: space-between;
    align-items: center;
}